name: Create Versioning Pull Request

on:
  push:
    branches:
      - next

jobs:
  versioning:
    name: Versioning
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Install yarn
        run: corepack enable

      - name: Set yarn version to latest stable
        run: corepack prepare yarn@stable --activate

      - name: Install dependencies
        run: yarn install --immutable

      - name: Update and log npm version
        run: npm install -g npm@11.7.0 && npm --version

      - name: Create Versioning Pull Request
        id: changesets
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
